.header__title {
    padding: 10px;
    text-align: center;
    color: hsl(60, 1%, 23%);
    text-shadow: 5px 5px 8px rgb(241, 234, 213);
}

.header__container {
    background-color: hsla(43, 8%, 83%, 0.699);
    padding: 10px;
    border-radius: 5px;
    max-width: 650px;
    margin: 0 auto;
}